.wrapper
  = render partial: 'worktimes/side_bar' 
  .table-contents
    %h1 #{@year_name}年#{@month_name}月の出勤簿
    %table{:align => "center"}
      %thead
        %tr
          %th 日付
          %th 曜
          %th 出社時間
          %th 退社時間
          %th 勤務時間
          %th 残業時間
      - (Date.parse("#{@start_date}")..Date.parse("#{@end_date}")).each do |date|
        %tr
          %td= "#{date.month}月#{date.day}日"
          %td= %w[日 月 火 水 木 金 土][date.wday]
          %td
          %td
          %td
          %td
  