!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kinkan
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'showClock1'
    - if user_signed_in?
      = javascript_include_tag 'message-contents'
  %body
    .notifications
      - flash.each do |key, value|
        = content_tag(:div, value, class: key)
    #awan    
    = yield
    
